/* Webfont: PublicoHeadline-Medium */@font-face {
    font-family: 'PublicoHeadlineMedium';
    src: url('PublicoHeadline-Medium.eot'); /* IE9 Compat Modes */
    src: url('PublicoHeadline-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('PublicoHeadline-Medium.woff') format('woff'), /* Modern Browsers */
         url('PublicoHeadline-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('PublicoHeadline-Medium.svg#PublicoHeadline-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

