.cikkblock.box.hirlevel-feliratkozo-doboz {
    margin-left: 0px;
    float: none;
    text-align: left;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .header {
    width: 49%;
    float: left;
    padding: 0px;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .header img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    float: left;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .header div {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
}

.cikkblock.box.hirlevel-feliratkozo-doboz .header div h3 {
    font-family: "Roboto Condensed", Verdana, Geneva, sans-serif;
    margin-bottom: 5px;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .header div span {
    font-family: "Roboto Condensed", Verdana, Geneva, sans-serif;
    font-size: 18px;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper {
    width: 50%;
    float: left;
    padding: 0;
    width: 44%;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form {
    position: relative;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form span {
    position: absolute;
    top: 13px;
    left: 5px;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form span i {
    color: #979797;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form input {
    width: calc(100% - 145px);
    height: 40px;
    padding-left: 25px;
    font-size: 18px;
    border: 1px solid #979797;
    background-color: #F4F4F4;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form button {
    position: relative;
    top: -1px;
    height: 44px;
    width: 110px;
    text-transform: uppercase;
    color: white;
    background-color: #9B162B;
    border: 1px solid #B44F5F;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper p {
    line-height: 15px;
    color: #666666;
    margin-top: 5px;
    font-family: "Roboto Condensed", Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper .contet-message {
    height: auto;
    min-height: 40px;
    color: white;
    background: #768C99;
    margin-top: 15px;
    position: relative;
    display: none;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper .contet-message i {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
}

.cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper .contet-message span {
    display: block;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 5px;
}
/*lg eddig*/
@media screen and (max-width: 1237px) and (min-width: 926px) { /*md*/
    .cikkblock.box.hirlevel-feliratkozo-doboz .header div h3 {
        font-size: 25px;
    }

    .cikkblock.box.hirlevel-feliratkozo-doboz .header div span {
        font-size: 17px;
    }

    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form input {
        /*width: 160px;*/
    }

    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form button {
        width: 110px;
    }
}

@media screen and (max-width: 1237px) and (min-width: 1025px) { /*sm*/
    .cikkblock.box.hirlevel-feliratkozo-doboz .header {
        width: 97%;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper {
        width: 100%;
        margin-top: 15px;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .header div h3 {
        font-size: 20px;
        line-height: 23px;
        font-weight: bold;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .header div span {
        font-size: 16px;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form input {
        width: 51%;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form button {
       width: 34%;
    }
}

@media screen and (max-width: 925px) and (min-width: 614px) { /*sm*/
    .cikkblock.box.hirlevel-feliratkozo-doboz .header {
        width: 97%;
        text-align: center;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper {
        width: 100%;
        margin-top: 15px;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .header div h3 {
        font-size: 20px;
        line-height: 23px;
        font-weight: bold;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .header div span {
        font-size: 16px;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form input {
        width: 51%;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form button {
       width: 34%;
    }
}

@media screen and (max-width: 613px) { /*xs*/
    .cikkblock.box.hirlevel-feliratkozo-doboz .header {
        width: 100%;
        text-align: center;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper {
        width: 100%;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .header div h3 {
        font-size: 20px;
        line-height: 23px;
        font-weight: bold;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .header div span {
        font-size: 16px;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form input {
        width: 51%;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form button {
       width: 34%;
    }
    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper .contet-message {
        margin-top: 0px;
    }
}

@media screen and (max-width: 390px) {
    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form input {
        width: calc(100% - 27px);
        margin-bottom: 5px;
    }

    .cikkblock.box.hirlevel-feliratkozo-doboz .content-wrapper form button {
        width: 100%;
        margin-bottom: 5px;
    }

}